.light {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: black;
    color: white;
  }

  #toggleButton{
    margin-top: 5px;
    margin-right: 3px;
    border-radius:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px 3px;
  }